<div>
  <mat-tab-group>
    <mat-tab label="Вход">
      <div class="main-container">
        <form class="main-container__form form" [formGroup]="loginForm">
            <input class="form__input-username" placeholder="Username" formControlName="username">
            <input class="form__input-password" placeholder="Пароль" formControlName="password">
          <button class="form__button">Войти</button>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Регистрация">
      <div class="main-container">
        <form class="main-container__form form" [formGroup]="registrationForm">
            <input class="form__input-username" placeholder="Username" formControlName="username">
            <input class="form__input-password" placeholder="Пароль" formControlName="password">
          <button class="form__button">Зарегистрироваться</button>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
