.list {
  padding-left: 15px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.block {
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 15px;
  &__text {
  }
  &__img {
    width: 100px;
  }
}

.text {
  &__name{

  }
  &__img {
    width: 10px;
    height: 10px;
  }
}

.block:hover {
  cursor: pointer;
}

.add-block {
  display: flex;
  width: 120px;
  height: 138px;
  background-color: #f6f6f6;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  flex-direction: column;
  &__plus {

  }
  &__text {
    text-align: center;
    font-size: 1rem;
  }
}

.add-block:hover {
  cursor: pointer;
}
