<div class="list">
  <ng-container *ngFor="let file of files">
      <div class="list__block block">
        <img alt="file"
             class="block__img"
             (click)="onFileClick()"
             src="file.svg"
             onmouseover="this.src='file_download.svg';"
             onmouseout="this.src='file.svg';">
        <span class="block__text">{{ file }}</span>
      </div>
  </ng-container>
  <div class="add-block" (click)="onAddClick()">
    <div class="add-block__plus">+</div>
    <div class="add-block__text">Добавить<br>файл</div>
  </div>
</div>
