<div class="main-container">
  <header class="main-container__header header">
    <div class="main-container__name name">
      <img class="name__img-cloud" src="cloud.svg">
      <span class="name__text" >DataCloud</span>
    </div>
    <img class="header__img-account" src="account.svg" (click)="onAccountClick()">
  </header>
  <mat-tab-group class="main-container__tabs-group tabs-group" [animationDuration]="0">
    <ng-container *ngFor="let tab of tabs; index as i">
        <mat-tab class="tabs-group__tab" [label]="tab">
          <app-files-list [files]="files[i]"></app-files-list>
        </mat-tab>
    </ng-container>
  </mat-tab-group>
  <footer class="main-container__footer footer">
    <button class="footer__btn">Добавить</button>
  </footer>
</div>

